<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bootstrap4</title>
    <%= stylesheet_link_tag  'styles' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="main row">
        <div class="col-xs-12 col-md-7">
          <div class="form-group">
            <h1>Listing Articles</h1>
              <table>
                <tr>
                  <th>Title</th>
                  <th>Text</th>
                  <th></th>
                </tr>
              
                <% @article.each do |article| %>
                  <tr>
                    <td><%= article.title %></td>
                    <td><%= article.text %></td>
                    <td><%= link_to 'Show', article_path(article) %></td>
                    <td><%= link_to 'Edit', edit_article_path(article) %></td>
                    <td><%= link_to 'delete', article_path(article),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  </tr>
                <% end %>
              </table>
              <%= link_to 'New article', new_article_path %>
            </div>
         </div>
      </div>
    </div>
  </div>
</body>
</html>